@mixin sm-max {
  @media (max-width: #{$dsk-xs}) {
      @content;
  }
}

$dsk-xs: 800px;

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

// body {
//   background: #000;
// }

#parallaxCanvas {
  z-index: -1;
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
}

#parallax-title {
  @include center-flex;
  width: 100%;
  height: 100vh;
  h1 {
    z-index: 9999;
    color: white;
    font-size: 8rem;
    font-weight: 800;
  }
}

.parallax-container {
  height: calc(3770px - 100vh);
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  div.h1 {
    width: 50%;
    @include sm-max {
      width: 90%;
    }
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
    color: white;
  }
}
