<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />

    <!-- Desc -->
    <meta name="description" content="We are coming soon, join the NFT, become WILD.">
    <meta name="keywords" content="nft, wildgang, wild gang">
    <meta name="author" content="WILDGANG">

    <!-- Twitter -->
    <meta name="og:type" content="card">
    <meta name="og:title" content="WILDGANG NFT">
    <meta name="og:url" content="https://wildgangnft.com/">
    <meta name="og:description" content="We are coming soon, join us the jungle, become WILD.">
    <meta name="og:image"
        content="https://cdn.discordapp.com/attachments/543176877234323461/927172882096873482/Logo.png">
    <title>WILDGANG - Coming soon</title>

    <!-- Favicon -->
    <link rel="shortcut icon"
        href="https://cdn.discordapp.com/attachments/543176877234323461/927172882096873482/Logo.png">

    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: black;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            bottom: 0;
            left: 0;
            margin: auto;
            overflow: auto;
            position: fixed;
            right: 0;
            top: 0;
            -o-object-fit: contain;
            object-fit: contain;
        }

    </style>
</head>

<body>
    <h1 style="display: none">WILDGANG</h1>
    <a href="https://discord.wildgangnft.com/">
        <img src="http://cdn.discordapp.com/attachments/543176877234323461/927168181787828234/COMING.png"
            alt="coming soon landpage">
    </a>
</body>

</html>
